/**
============================================
; Title: davidson-in-n-out-books.css
; Author: John Davidson
; Date: 05/07/2023
; Description: The css page for WEB-231 assignment 8.2.
============================================
*/

/** Changing the alignment and width of the card and card-results class. */
.card, .card-results {
  width: 600px;
  margin: 3% auto 0;
}

/** Changes the heading style of the book and author category. */
h3 {
  font-weight: lighter;
}
