/**
============================================
; Title: davidson-bookstore.css
; Author: John Davidson
; Date: 04/23/2023
; Description: The css page for WEB-231 assignment 6.2.
============================================
*/

/** Changing the alignment and width of the card and card-results class. */
.card, .card-results {
  width: 600px;
  margin: 3% auto 0;
}

/** Changes the heading style of the book, author, and publisher category. */
h3 {
  font-weight: lighter;
}
